@CHARSET "UTF-8";

/*
BY:Dr.v
QQ:6507272
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
	background: #ececec  repeat left top;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
.hidden{ display:none !important;}


/*
CSS Basic Structur
*/
.m-width {
	border:1px solid #33373A;
    width: 478px;
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: left;
}

.top-wrapper dd {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    display: none;
}

.top-wrapper {
	position: relative;
}
.top-wrapper dl {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 270px;
	background: #fff;
}


.top-wrapper .dd-nav {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 2;
}
ol, ul {
    list-style: none;
}
.top-wrapper .dd-nav li {
    width: 14px;
    height: 14px;
    background: #ABABAB;
    color: #fff;
    text-align: center;
    line-height: 16px;
    display: inline-block;
    font-size: 16px;
    margin: 0 3px;
    cursor: pointer;
}
.top-wrapper .dd-nav li.active {
    background: #B21E28;
}
.top-wrapper .dd-nav li {
    width: 14px;
    height: 14px;
    background: #ABABAB;
    color: #fff;
    text-align: center;
    line-height: 16px;
    display: inline-block;
    font-size: 16px;
    margin: 0 3px;
    cursor: pointer;
}

.top-wrapper .dd-left {
    left: 0;
}

.top-wrapper .dd-btn {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 30px;
    height: 60px;
    background: rgba(0,0,0,0.2);
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    display: none;
    cursor: pointer;
    font-weight: normal;
    font-family: "宋体";
}

.top-wrapper .dd-right {
    right: 0;
}

.top-wrapper .dd-btn {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 30px;
    height: 60px;
    background: rgba(0,0,0,0.2);
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    display: none;
    cursor: pointer;
    font-weight: normal;
    font-family: "宋体";
}


.top-wrapper

{

	position: relative;

}



.top-wrapper dl

{

	position: relative;

	

	margin: 0;

	padding: 0;

	list-style: none;

	

	height: 270px;

	background: #fff;

}

.top-wrapper .dd-nav{ position:absolute; right:15px; bottom:15px; z-index:2;}

.top-wrapper .dd-nav li{ width:14px; height:14px; background:#ABABAB; color:#fff; text-align:center; line-height:16px; display:inline-block; font-size:16px; margin:0 3px; cursor:pointer;}

.top-wrapper .dd-nav li.active{ background:#B21E28}

.top-wrapper .dd-btn{ position:absolute; top:50%; margin-top:-30px;width:30px; height:60px; background:rgba(0,0,0,0.2); color:#fff; text-align:center; line-height:60px; font-size:40px; display:none; cursor:pointer; font-weight:normal; font-family:"宋体"}

.top-wrapper:hover .dd-btn{ display:block;}

.top-wrapper .dd-left{ left:0}

.top-wrapper .dd-right{ right:0;}





.top-wrapper .dt1

{

	left: 0;

	border-left: none;

	width: 250px;

}



.top-wrapper .dt2

{

	left: 250px;

}



.top-wrapper .dt3

{

	left: 500px;

}



.top-wrapper .dt4

{

	left: 750px;

}



.top-wrapper dd

{

	position: absolute;

	left: 0;

	top: 0;

	

	margin: 0;

	padding: 0;

	

	display: none;

}



.top-wrapper .visible

{

	display: block;

}



.top-wrapper .cover

{

	position: absolute;

	left: 0;

	top: 0;

	z-index: 3;

	width: 478px;

	height: 270px;

	border: none;

}



.top-wrapper .banner-title {

	position:absolute; 

	top:220px; 

	width:100%; 

	height:50px; 

	padding: 10px 0 0 20px;

	background: url(z1.png) no-repeat;

	overflow: hidden;

}



.banner-title-1{

	font-family: "Microsoft YaHei", "SimSun", "TIBch", "Classic Grotesque W01";

	font-size: 22px;

	color: #FFFFFF;

	font-style: normal;

	line-height: 30px;

}



.banner-title-2{

	font-family: "Microsoft YaHei", "SimSun", "TIBch", "Classic Grotesque W01";

	font-size: 15px;

	color: #FFFFFF;

	line-height: 25px;

	

}



.top-wrapper .selected

{

	color: #e60013;

	background: #e2e2e2;

}



.bottom-wrapper

{

	margin-top: 12px;

}



.bottom-wrapper .left-side

{

	width: 868px;

}



.bottom-wrapper .right-side

{

	margin-left: 12px;

	background: #fff;

	width: 120px;

	height: 345px; 

}



.bottom-wrapper .section1

{

	width: 494px;

	height: 192px;

	background: #fff;

}



.bottom-wrapper .section2

{

	margin-left: 12px;

	width: 362px;

	height: 192px;

	background: #fff;

}



.bottom-wrapper .section3

{

	margin-top: 12px;

	width: 494px;

	height: 140px;

	background: #fff;

}



.bottom-wrapper .section4

{

	margin-top: 12px;

	margin-left: 12px;

	width: 362px;

	height: 140px;

	background: #fff;

}



.bottom-wrapper .section5

{

	margin-top: 12px;

	width: 370px;

	height: 140px;

	background: #fff;

}



.bottom-wrapper .section6

{

	margin-top: 12px;

	margin-left: 12px;

	width: 240px;

	height: 140px;

	background: #fff;

}



.bottom-wrapper .section7

{

	margin-top: 12px;

	margin-left: 12px;

	width: 234px;

	height: 140px;

	background: #fff;

}



.section4-marquee{ width:100%;}

.section4-marquee li{ padding:0 0 12px; width:100%; height:64px;}

.section4-marquee li img{width:100%; height:64px;}

.sec-right-title

{

	margin: 0;
	padding:0;
	line-height: 30px;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	background-color:#B21E28;


}



.sec-title4

{

	margin: 0;
	padding:0;
	line-height: 30px;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	background-color:#B21E28;


}



.serv-box

{

	margin-top: 15px;

}



.left-serv-box

{

	position: relative;

	width: 250px;

	height: 90px;

	margin: 0;

	padding: 0;

}



.left-serv-box dt

{

	position: absolute;

	

	margin: 0;

	padding: 0;

	

	cursor: default;

}



.left-serv-box .selected

{

	color: #e60013;

}



.left-serv-box .visible

{

	display: block;

}



.left-serv-box .dt1

{

	left: 114px;

	top: 4px;

}



.left-serv-box .dt2

{

	left: 180px;

	top: 4px;

}



.left-serv-box .dt3

{

	left: 114px;

	top: 33px;

}



.left-serv-box .dt4

{

	left: 180px;

	top: 33px;

}



.left-serv-box .dt5

{

	left: 114px;

	top: 60px;

}



.left-serv-box .dt6

{

	left: 180px;

	top: 60px;

}



.left-serv-box dd

{

	position: absolute;

	

	margin: 0;

	padding: 0;

	

	left: 20px;

	top: 0px;

}



.right-serv-box

{

	margin: 0;

	padding: 3px 0 3px 20px;

	list-style: none;

	

	border-left: 1px solid #c6c6c6;

}



.right-serv-box li

{

	margin: 0;

	padding-top: 14px;

}